.nav-link::after{
  content: '';
  width: 0%;
  height: 2px; /* thickness of underline*/
  background:rgb(204, 129, 129);
  display:block;
  transition: 0.5s;
}
.nav-link:hover::after{
  width: 100%;
}
.active {
  color: greenyellow;
}




