.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust the width as needed */
  max-width: 300px; /* Set a maximum width */
  background-color: rgb(203, 188, 188);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (max-width: 600px) {
  .modal {
    width: 90%; /* Adjust the width as needed */
    max-width: none;
  }
}
